body {
  margin: 0;
  padding: 0;
  width: 375px;
  background: #ffffff;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

.logo {
  margin: 1rem 1rem 1rem 1rem;
}

.logo img {
  display: block;
  margin: auto;
}

.info {
  border-top: 3px solid #b4b4b4;
  /** *  margin: $marge-base; margin: $marge-base; ne fonctionne pas **/
}

.titre-geolocalisation {
  margin-top: 0.5rem;
  text-align: center;
  background-color: #eee6e6;
  padding-top: 10px;
  padding-bottom: 10px;
}

.titre-geolocalisation p {
  /**
        font-weight: bold;
        
        background-color: red;**/
}

.titre-geolocalisation .iconemap {
  margin-left: 70px;
}

.titre-geolocalisation span {
  font-weight: bold;
  padding-left: 20px;
}

.titre-geolocalisation .site-search {
  border: transparent;
  font-size: 1.4rem;
  width: 80%;
}

.titre-reservez {
  font-size: 2rem;
  text-align: center;
}

.titre-decouvrez {
  font-size: 1.3rem;
  color: grey;
  text-align: center;
}

.bouton-commander {
  display: block;
  margin: auto;
  width: 60%;
  height: 3rem;
  border-radius: 3rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#FF79DA));
  background-image: linear-gradient(#9356dc, #FF79DA);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  text-align: center;
  vertical-align: center;
  padding-top: 1rem;
}

.bouton-commander a {
  font-size: 2rem;
  color: #ffffff;
  height: 4.5rem;
}

/** fonctionnement***/
.fonctionnement {
  margin: 1rem 1rem 1rem 1rem;
  padding-top: 3rem;
}

.fonctionnement p {
  font-size: 1.3rem;
  /**  margin-top: 0.5rem;****/
}

.fonctionnement .ordre {
  background-color: #9356dc;
  border-radius: 50%;
  color: #ffffff;
  top: -5px;
  left: -15px;
  height: 30px;
  width: 30px;
  position: absolute;
  line-height: 30px;
  text-align: center;
}

.fonctionnement .fas {
  margin-right: 15px;
  margin-left: 25px;
  font-size: 1.5rem;
}

.fonctionnement .fas:hover {
  color: #9356dc;
}

.choix {
  /** box-shadow: 0px 3px 0px rgb(145, 144, 144); 
   
    border-bottom: 3px solid transparent; /**voir si utile**/
  /*** border-radius: 0 0 0 2rem;***/
  padding-bottom: 0.2rem;
  margin-top: 3rem;
  position: relative;
  height: 50px;
  margin-left: 10px;
  -webkit-box-shadow: 0 3px 0 #e0dfdf;
          box-shadow: 0 3px 0 #e0dfdf;
}

/** aside ilage restaurant **/
aside {
  margin: 1rem 1rem 1rem 1rem;
}

aside article {
  -webkit-box-shadow: 0 4px 0 #cac8c891;
          box-shadow: 0 4px 0 #cac8c891;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}

.img-restaurant {
  position: relative;
}

.img-restaurant img {
  width: 100%;
  height: 11rem;
  overflow: hidden;
  border-radius: 1.5rem 1.5rem 0 0;
}

.img-restaurant .nouveau {
  display: block;
  background-color: #99E2D0;
  position: absolute;
  top: 22px;
  right: 18px;
  padding: 5px;
  color: #39a98d;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5rem;
}

.descriptif-restaurant {
  color: black;
  margin-right: 2rem;
  padding-bottom: 0.5rem;
  margin-left: 1rem;
}

.descriptif-restaurant h4 {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.descriptif-restaurant i {
  font-size: 3rem;
  float: right;
  margin-top: -5rem;
  -webkit-transition: color 1s;
  transition: color 1s;
  /** coeur rempli
        &:hover {
        background-image: linear-gradient($primary-color; $second-color);
        background-clip: text; 
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-weight: 900;
        transition-duration: 1s;
}**/
}

.descriptif-restaurant i:hover {
  color: #9356dc;
  background-color: #9356dc;
}

footer {
  background-color: #353535;
  color: #ffffff;
  top: 0;
  left: 0;
}

footer h2 {
  padding-top: 1rem;
  margin-left: 1rem;
}

footer ul {
  list-style-type: none;
  -webkit-padding-start: 15px;
          padding-inline-start: 15px;
}

footer li {
  padding-bottom: 2rem;
  text-decoration: none;
}

footer li a {
  color: #ffffff;
}

footer li i {
  padding-right: 1rem;
}
/*# sourceMappingURL=style.css.map */