$primary-color: #9356dc;
$second-color: #FF79DA;
$tertiaire-color: #99E2D0;


$marge-base: 1rem 1rem 1rem 1rem;
$loader-border: 5px soldid $primary-color;
$color-blanc: #ffffff;
$shadow-gris: 0 4px 0 #cac8c891;

/** loader***/
/** loader**/

.section-loader {

    background-color: #fafcfb;
    width: 100%;
    height: 100%;
    line-height: 100%;
    animation: delete 0s linear 3s forwards;

    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    p {
        position: absolute;
        top: 100px;
        margin-left: 150px;
    }

}

.loader {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 100px;


}

.loader-rond {
    border-radius: 60px;
    border: 8px solid $primary-color;
    margin-left: 3rem;

}

.loader-rond:after {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    bottom: -8px;
    right: -8px;
    border-radius: 70px;
    border: 8px solid transparent;
    border-top-color: $second-color;
    -webkit-animation: rotation 4s linear 0.1s;
    animation: rotation 4s linear 0.1s;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);

    }

}

@keyframes delete {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(99999px);

    }
}



/** fin loader **/
/** fin loader **/
body {
    margin: 0;
    padding: 0;
    max-width: 375px;
    width: 100%;
    background: $color-blanc;
    font-family: Roboto;

    font-size: 1.2rem;
}

a {
    text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Shrikhand;
    font-weight: bold;
}

h1 {

    font-size: 2rem;
}

h2 {

    font-size: 1.9rem;
}

h3 {
    font-size: 1.8rem;

}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;

}

h6 {
    font-size: 1rem;
}

.logo {
    margin: $marge-base;
    position: relative;
    z-index: 1;





    img {
        display: block;
        margin: auto;

    }


}

.info {
    border-top: 3px solid rgb(180, 180, 180);
    /*** *  margin: $marge-base; margin: $marge-base; ne fonctionne pas **/

}

.titre-geolocalisation {
    margin-top: 0.5rem;
    text-align: center;
    background-color: rgb(238, 230, 230);
    padding-top: 10px;
    padding-bottom: 10px;



    /**
    .iconemap {
        margin-left: 70px;
    }
**/
    span {
        font-weight: bold;
        padding-left: 20px;

    }

    .site-search {
        border: transparent;
        font-size: 1.4rem;
        width: 80%;

    }
}


.titre-reservez {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;

}

.titre-decouvrez {
    font-size: 1.3rem;
    color: grey;
    text-align: center;
}

.bouton-commander {
    display: block;
    margin: auto;
    width: 60%;
    height: 3rem;
    border-radius: 3rem;
    background-image: linear-gradient($primary-color, $second-color);

    text-align: center;
    /** vertical-align: middle; **/
    padding-top: 1rem;
    box-shadow: 0 5px 8px grey;

    a {
        font-size: 2rem;
        color: $color-blanc;
        height: 4.5rem;


    }

}

/** fonctionnement***/

.fonctionnement {
    margin: $marge-base;
    padding-top: 3rem;

    p {
        font-size: 1.3rem;
        /**  margin-top: 0.5rem;****/
    }

    .ordre {


        background-color: $primary-color;
        border-radius: 50%;
        color: $color-blanc;

        top: -5px;
        left: -15px;
        height: 30px;
        width: 30px;
        position: absolute;
        line-height: 30px;
        text-align: center;

    }

    .fas {
        margin-right: 15px;
        margin-left: 25px;
        font-size: 1.5rem;

        &:hover {
            color: $primary-color;
        }
    }
}

.titre-choix {

    /** box-shadow: 0px 3px 0px rgb(145, 144, 144); 
   
    border-bottom: 3px solid transparent; /**voir si utile**/
    /*** border-radius: 0 0 0 2rem;***/
    padding-bottom: 0.2rem;
    margin-top: 3rem;
    position: relative;
    height: 3.5rem;
    margin-left: 10px;
    box-shadow: 0 3px 0 rgb(224, 223, 223);
}

/** aside ilage restaurant **/

aside {
    margin: $marge-base;
    padding-top: 4rem;

    article {

        border-radius: 1.5rem;
        margin-bottom: 2rem;

    }
}

.article-restaurant {



    p {

        padding-bottom: 2rem;
        box-shadow: $shadow-gris;
    }

}


.img-restaurant {

    position: relative;

    img {
        width: 100%;
        height: 11rem;
        overflow: hidden;
        border-radius: 1.5rem 1.5rem 0 0;


    }

    .nouveau {
        display: block;


        background-color: $tertiaire-color;



        position: absolute;
        top: 22px;

        right: 18px;
        padding: 5px;


        color: #39a98d;
        text-align: center;
        /**  vertical-align: middle; **/
        font-size: 1.5rem;

    }
}



.descriptif-restaurant {
    display: block;
    /****/
    position: relative;
    color: black;
    margin-right: 2rem;
    padding-bottom: 0.5rem;
    margin-left: 1rem;

    h4 {
        margin-block-end: 0;

    }


}

.coeur {
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 2.5rem;




    .fas,
    .far {
        position: absolute;
        top: 0;
        right: 0;
    }

    .fas {
        color: $primary-color;
        opacity: 0;
        font-size: 2.52rem;

        &:hover {
            opacity: 1;

        }
    }






}

/***
    .fas .far {
        font-size: 3rem;
        float: right;
        margin-top: -7rem;
        position: absolute;
        right: 3rem;
        background-clip: text;
        transition: color 1s;



        &:hover {
            .fas {display: none;}
          .far {display: block;}


        }
    }
}**/

/*******fiin index*****/
/**********************/
/***********************/
/**debut page menu***/
.logo-menu {
    top: 5px;
    margin: auto;
    width: 100%;

    .fa-arrow-left {
        top: 1rem;
        font-size: 2rem;
        position: relative;
        left: 2rem;
        color: #000000;

    }

    img {
        position: absolute;
        top: 1rem;
        left: 5rem;

    }

}

figure {
    margin: 0;
    padding-top: 2rem;



    .img-menu {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        vertical-align: middle;
        height: 10rem;
        width: 100%;
    }


    img {
        width: 100%;
        height: 10rem;
    }


}

/***fin entete page menu ***/

section {
    margin: $marge-base;

    .fa-heart {
        margin-left: 60px;
    }

    .menu-categorie {
        font-size: 1.8rem;
        border-bottom: 3px solid $tertiaire-color;
        width: 3rem;
    }

    .block-menu {
        margin-top: 100px;
        animation: block-menu 3s forwards;
    }

    ul {
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0;

        p {
            height: 5rem;

        }

        li {
            display: inline-flex;
            width: 100% ;
        }
/**conteneur descriptif du plat **/
        .descriptif-choix {
            font-size: 1.2rem;
            font-weight: 600;
            width: 100%;
            position: relative;

            overflow: hidden;


            .choix-detail {
                display: block;
                width: 80%;
                background-color: rgb(13, 138, 79);
                height: 3.5rem;

                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;


                &:hover {
                    width: 60%;


                }

                .accompagnement-plat {
                    font-size: 1.2rem;
                    font-weight: 100;
                    color: red;
                }
            }


 /** conteneur prix + bouton coche **/
            .prix-coche {
                position: initial;
         display: flex;
                flex-wrap: nowrap;
                top: 0;
                right: 0;
                

                .prix {
                    font-size: 1.3rem;
                    font-weight: 600;
                    top: 15px;
                    right: 15px;
                    position: absolute;

                    background-color: rgb(215, 238, 12);
                    animation: deplacement 1s 1;

                   &:hover {
                       color: red;
                   }
                }

                }

                .coche {
                    background-color: $tertiaire-color;
                    position: absolute;
                    width: 3.5rem;
                    height: 3.5rem;
                    top: 0px;
                    right: -35px;
                    border-radius: 0 1rem 1rem 0;
                    overflow: hidden;
                    animation: deplacement 1s 1;

                    .fa-check-circle {
                        position: absolute;
                        top: 20px;
                        right: 1rem;
                        color: $tertiaire-color;
                        border-radius: 50%;
                        animation: rotation 1s 1;

                    }

                    .fa-check-circle::before {

                        color: #ffffff;
                    }
                }
            }
        }
    }

/*** animation affichage menu montant ***/

@keyframes block-menu {
    0% {
        transform: translatey(0);
    }

    100% {
        transform: translatey(-50px);
    }
}
/**** animation prix + coche***/
@keyframes deplacement {
    0% {
        transform: translatex(0px);

        
    }

    100% {
        transform: translatex(-50px);
        
    }
}

.titre-choix {
    font-size: 1rem;
    box-shadow: 0 6px 0 #cac8c891;
}






/********fin page menu*************/
/*****************************/
/****************************/

footer {
    background-color: #353535;
    color: $color-blanc;
    top: 0;
    left: 0;

    h2 {

        padding-top: 1rem;
        margin-left: 1rem;
    }

    ul {
        list-style-type: none;
        padding-inline-start: 15px;
    }

    li {
        padding-bottom: 2rem;
        text-decoration: none;



        a {
            color: #ffffff;
        }

        i {
            padding-right: 1rem;
        }
    }
}


/***********responsive*******************/
/***********responsive*******************/
/***********responsive*******************/

@media all and (min-width: 375px) and (max-width: 900px) {

    body {
        max-width: 100%;
        font-size: 1.5rem;
    }


    .info {



        .titre-decouvrez {
            font-size: 1.8rem;
        }

        .bouton-commander {

            height: 5rem;
            font-size: 3rem;
        }
    }

    .img-restaurant {

        img {
            height: 20rem;
        }
    }
}

/** -fin index 780 **/
/**  **/

/** *********responsive***************** **/
/** *********responsive***************** **/

@media all and (min-width: 901px) and (max-width: 1280px) {
    body {
        max-width: 1280px;
        font-size: 1.6rem;

    }

    .info {

        .titre-reservez {
            font-size: 2.3rem;
        }

        .titre-decouvrez {
            font-size: 1.8rem;
        }

        .bouton-commander {
            font-size: 3rem;
        }
    }

    .choix {
        display: flex;
        justify-content: space-between;
        margin-right: 2rem;

        .titre-choix {
            margin-right: 1rem;
        }
    }

    article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;


        a {
            width: 49%;
        }

        .img-restaurant {
            width: 100%;

            img {
                height: 20rem;
            }
        }

    }
}

