$primary-color: #9356dc;
$second-color: #FF79DA;
$tertiaire-color: #99E2D0;

$marge: 0 1rem 1rem 1rem;
$loader-border: 5px soldid $primary-color;


body {
    margin: 0;
    padding: 0;
    width: 375px;
    background: rgba(46, 241, 95, 0.514);
    
        font-size: 1.2rem;
}

a {
    text-decoration: none;
}
.logo {
    margin-top: 1rem;
  
  
    
    img{
        display: block;
        margin: auto;
        
    }
    
    
}

.info {
    text-align: center;
}
.tire-geolocalisation {
    margin-top: 0.5rem;
    
    background-color: rgb(238, 230, 230); padding: 20px;
    border-top: 2px solid rgb(138, 137, 137);

    span{
        font-weight: bold;
        margin-left: 1.5rem;
    }
}
.titre-reservez, {
 font-size: 1.5rem;
}

.titre-decouvrez {
    font-size: 1.5rem;
}

.bouton-commander  {
    display: block;
    margin: auto;
    width: 60%;
    height: 2.5rem;
    border-radius: 3rem;
    background-image: linear-gradient($primary-color, $second-color);
    transition-duration: 1s;
    text-align: center;
 vertical-align: center;
 padding-top: 1rem;
    
    a {
        font-size: 2rem;
 color: #fff;
     
   
    }

} 

/** fonctionnement***/

.fonctionnement, .aside {
    margin: $marge; 
    padding-top: 3rem;
   
    p {
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    span {
       
        
        background-color: red;
        border-radius: 50%;
        color: #ffffff;
        padding: 5px 9px 5px 10px;
        
    }

    .fas {
        margin-right: 10px;
        margin-left: 10px;
    }
}

.article-restaurant {



}
/*! container loader
.container-loader {
    background-color: red;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
}
 
.loader-grand {
    width: 300px;
    height: 300px;
    border: 8px solid yellow;
    border-top: 8px solid grey;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}



footer{
    background-color: green;
}

/* **
.lodae-grand {
    background-color: #fff;
    width: 350px;
    height: 350px;
    border: $loader-border;
}


header {
    width: 350px;
    background-color: black;
}
.bloc-loader {
   
    width: 300px;
    height: 300px;
    background-color: rgb(248, 4, 57);
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
}  

    .loader {
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        background-color: peru;
    }

    .loader-rond {
        border-radius: 50px;
        border: 6px solid rgba(147, 86, 220, 0.6);

    }
}

.loader-rond:after {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: $primary-color;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

@-webkit-keyframes rotation {
    0% { transform: rotate(0deg);}

    100% { transform: rotate(360deg);}
}

@keyframes rotation {
    0% { transform: rotate(0deg);}

    100% { transform: rotate(360deg);}
}
**/