@-webkit-keyframes transition {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes transition {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.page {
  position: absolute;
  top: 0;
  -webkit-animation: transition 6s forwards;
  animation: transition 6s forwards;
}

/**** loader****/
/** loader***/
.section-loader {
  background-color: #fafcfb;
  width: 100%;
  height: 100%;
  line-height: 100%;
  -webkit-animation: delete 10s linear 3s forwards;
  animation: delete 10s linear 3s forwards;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
.section-loader p {
  position: absolute;
  top: 100px;
  margin-left: 150px;
}

.loader {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 100px;
}

.loader-rond {
  border-radius: 60px;
  border: 8px solid #9356dc;
  margin-left: 3rem;
}

.loader-rond:after {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  border-radius: 70px;
  border: 8px solid transparent;
  border-top-color: #FF79DA;
  -webkit-animation: rotation 4s linear 0.1s;
  animation: rotation 3s linear 0.1s;
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes delete {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(99999px);
  }
}
@keyframes delete {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(99999px);
  }
}
/** fin loader **/
/** fin loader **/
body {
  margin: 0;
  padding: 0;
  max-width: 375px;
  /**width: 100%;**/
  background: #ffffff;
  font-family: Roboto;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Shrikhand;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

.logo {
  margin: 1rem 1rem 1rem 1rem;
  position: relative;
}
.logo img {
  display: block;
  margin: auto;
}

.info {
  background-color: #f6f6f6;
}

.titre-geolocalisation {
  margin-top: 0.5rem;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #eaeaea;
  box-shadow: inset 0px 4px 9px -2px #656565;
}
.titre-geolocalisation span {
  font-weight: bold;
  padding-left: 20px;
}
.titre-geolocalisation .site-search {
  border: transparent;
  font-size: 1.4rem;
  width: 80%;
  background-color: #eaeaea;
}

.titre-reservez {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.titre-decouvrez {
  font-size: 1.3rem;
  color: grey;
  text-align: center;
}

.bouton-commander {
  display: block;
  margin: auto;
  width: 60%;
  height: 3rem;
  border-radius: 3rem;
  background-image: linear-gradient(#FF79DA, #9356dc);
  text-align: center;
  padding-top: 1rem;
  box-shadow: 0 5px 8px #7e7d7d;
}
.bouton-commander a {
  font-size: 2rem;
  color: #ffffff;
  height: 4.5rem;
}
.bouton-commander:hover {
  opacity: 0.93;
  box-shadow: 0 5px 8px #383737;
}

/** fonctionnement***/
.fonctionnement {
  padding-top: 3rem;
}
.fonctionnement .ordre {
  background-color: #9356dc;
  border-radius: 50%;
  color: #ffffff;
  top: 5px;
  left: -15px;
  height: 30px;
  width: 30px;
  position: absolute;
  line-height: 30px;
  text-align: center;
}
.fonctionnement .fas {
  margin-right: 15px;
  margin-left: 25px;
  font-size: 1.5rem;
}
.fonctionnement .fas:hover {
  color: #9356dc;
}

.titre-choix {
  padding-bottom: 0.2rem;
  margin-top: 3rem;
  position: relative;
  height: 2.5rem;
  margin-left: 10px;
  padding-top: 10px;
  font-size: 1.3rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 6px 0 #cac8c891;
}

/** aside image restaurant **/
aside {
  margin: 1rem 1rem 1rem 1rem;
  padding-top: 4rem;
}
aside article {
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 5px #b9b9b991;
}

.img-restaurant {
  position: relative;
}
.img-restaurant img {
  width: 100%;
  height: 7rem;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5rem 1.5rem 0 0;
}
.img-restaurant .nouveau {
  display: block;
  background-color: #99E2D0;
  position: absolute;
  top: 22px;
  right: 18px;
  padding: 5px;
  color: #39a98d;
  text-align: center;
  font-size: 1.5rem;
}

.descriptif-restaurant {
  display: block;
  position: relative;
  color: black;
  margin-right: 2rem;
  padding-bottom: 0.5rem;
  margin-left: 1rem;
}
.descriptif-restaurant h4 {
  -webkit-margin-after: 0;
  margin-block-end: 0;
}
.descriptif-restaurant:hover .fas {
  display: block;
}
.descriptif-restaurant:hover .far {
  display: none;
}

.coeur {
  position: absolute;
  top: 10px;
  right: 0px;
  font-size: 2.5rem;
}
.coeur:hover .fas {
  display: block;
}
.coeur:hover .far {
  display: none;
}
.coeur .far {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
}
.coeur .fas {
  position: absolute;
  top: 0;
  right: 0;
  color: #9356DC;
  display: none;
  font-size: 2.5rem;
}

@-webkit-keyframes invisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes invisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*******fin index*****/
/**debut page menu***/
.logo-menu {
  top: 5px;
  margin: auto;
  width: 100%;
}
.logo-menu .fa-arrow-left {
  top: 1rem;
  font-size: 2rem;
  position: relative;
  left: 2rem;
  color: #000000;
}
.logo-menu img {
  position: absolute;
  top: 1rem;
  left: 5rem;
}

.coeur {
  position: relative;
  top: -65px;
}

figure {
  margin: 0;
  padding-top: 2rem;
}
figure .img-menu {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  vertical-align: middle;
}
figure img {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.bandeau {
  width: 100%;
  height: 2rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  position: relative;
  top: -35px;
}

/***fin entete page menu ***/
section {
  background-color: #f6f6f6;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  /**fin li**/
}
section .menu {
  position: relative;
  top: -50px;
}
section .descriptif-menu {
  margin-bottom: 75px;
  font-style: italic;
}
section .descriptif-menu:hover .fas {
  display: block;
}
section .descriptif-menu:hover .far {
  display: none;
}
section .fa-heart {
  margin-left: 60px;
}
section .menu-categorie {
  top: 0;
  position: relative;
  margin-bottom: 34px;
  font-size: 1.8rem;
  border-bottom: 3px solid #99E2D0;
  width: 3rem;
}
section .block-menu {
  position: relative;
  top: -31px;
}
section ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  -webkit-animation: block-menu 2s 0.2s forwards;
          animation: block-menu 2s 0.2s forwards;
  /**descriptif-choix **/
}
section ul p {
  height: 5rem;
}
section ul li {
  list-style-type: none;
  display: block;
  width: 100%;
  border: transparent;
  border-radius: 1rem;
  box-shadow: 0px 3px 2px 0px #dddddd;
  text-overflow: ellipsis;
  white-space: nowrap;
  /********************************/
  overflow: hidden;
  /********************************/
  /**conteneur descriptif du plat **/
  /** conteneur prix + bouton coche **/
  /**fin prix-cohe**/
}
section ul li .descriptif-choix {
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  position: relative;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
}
section ul li .descriptif-choix:active .choix-detail:active {
  transition-duration: 1000ms;
  width: calc(100% - 80px);
}
section ul li .descriptif-choix:hover .fa-check-circle {
  -webkit-animation: rotation 2s 1;
  animation: rotation 2s 1;
}
section ul li .descriptif-choix .choix-detail {
  display: inline-block;
  width: 100%;
  height: 3.5rem;
  padding-right: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
section ul li .descriptif-choix .choix-detail .accompagnement-plat {
  font-size: 1rem;
  font-weight: 100;
  text-overflow: ellipsis;
}
section ul li .prix-coche {
  position: relative;
  display: inline-block;
  top: -15px;
  right: 0;
  /**fin coche**/
}
section ul li .prix-coche .prix {
  font-size: 1.3rem;
  font-weight: 600;
  top: 15px;
  right: 10px;
  position: absolute;
}
section ul li .prix-coche .coche {
  background-color: #99E2D0;
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  top: 0px;
  right: -55px;
  border-radius: 0 1rem 1rem 0;
  overflow: hidden;
}
section ul li .prix-coche .coche .fa-check-circle {
  position: absolute;
  top: 20px;
  right: 1rem;
  color: #99E2D0;
  border-radius: 50%;
}
section ul li .prix-coche .coche .fa-check-circle::before {
  color: #ffffff;
}

/*** animation affichage menu montant ***/
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/***
@-webkit-keyframes prix-coche {
    0% {
        transform: translatex(10px);
    }

    100% {
        transform: translatex(-65px);
    }
}

@keyframes prix-coche {
    0% {
        transform: translatex(10px);
    }

    100% {
        transform: translatex(-65px);
    }
}
**/
@-webkit-keyframes block-menu {
  0% {
    transform: translatey(0);
    opacity: 0.2;
  }
  100% {
    transform: translatey(-25px);
    opacity: 1;
  }
}
@keyframes block-menu {
  0% {
    transform: translatey(0);
    opacity: 0.2;
  }
  100% {
    transform: translatey(-25px);
    opacity: 1;
  }
}
/**fin page menu*************/
/****************************/
footer {
  position: relative;
  background-color: #353535;
  color: #ffffff;
  top: 0;
  left: 0;
}
footer h2 {
  padding-top: 1rem;
  margin-left: 1rem;
}
footer ul {
  list-style-type: none;
  -webkit-padding-start: 15px;
  padding-inline-start: 15px;
  margin-bottom: 0;
}
footer ul li {
  padding-bottom: 2rem;
  text-decoration: none;
}
footer ul li a {
  color: #ffffff;
}
footer ul li i {
  padding-right: 1rem;
}

/***********responsive*******************/
@media all and (min-width: 376px) and (max-width: 900px) {
  body {
    min-width: 376px;
    max-width: 900px;
    font-size: 1.5rem;
  }

  .info .titre-decouvrez {
    font-size: 1.8rem;
  }
  .info .bouton-commander {
    height: 5rem;
    font-size: 3rem;
  }

  .img-restaurant img {
    height: 15rem;
  }

  /**page restaurant ***/
  section {
    margin-left: 20px;
    margin-right: 20px;
  }
  section ul li .descriptif-choix {
    background-color: #fff;
  }
  section ul li .descriptif-choix:hover .choix-detail:hover {
    transition-duration: 1000ms;
    width: calc(100% - 75px);
  }
  section ul li .descriptif-choix:hover .fa-check-circle {
    -webkit-animation: rotation 2s 1;
    animation: rotation 2s 1;
  }
  section ul li .descriptif-choix .prix-coche {
    right: 20px;
  }
  section ul li .descriptif-choix .prix-coche .prix {
    right: 0px;
  }
  section ul li .descriptif-choix .prix-coche .coche {
    left: 20px;
  }
}
/** -fin responsive 375 **/
/** *********responsive******************* **/
@media all and (min-width: 901px) and (max-width: 2180px) {
  body {
    min-width: 901px;
    width: 100%;
    max-width: 1980px;
    font-size: 2rem;
  }

  .info .titre-reservez {
    font-size: 2.3rem;
  }
  .info .titre-decouvrez {
    font-size: 1.8rem;
  }
  .info .bouton-commander {
    font-size: 3rem;
    height: 4rem;
  }

  .choix {
    display: flex;
    justify-content: space-around;
  }
  .choix .titre-choix {
    margin-right: 1rem;
    padding-right: 15px;
  }

  .conteneur-restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  article {
    width: 45%;
  }
  article a {
    width: 49%;
  }
  article .img-restaurant {
    width: 100%;
  }
  article .img-restaurant img {
    height: 20rem;
  }

  /**page restaurant**/
  /**************/
  .logo-menu {
    top: 5px;
    margin: auto;
    width: 100%;
  }
  .logo-menu .fa-arrow-left {
    top: 40px;
    font-size: 2rem;
    position: relative;
    left: 5rem;
    color: #000000;
  }
  .logo-menu .retour {
    margin-bottom: 2rem;
  }
  .logo-menu img {
    position: absolute;
    top: 2rem;
    left: 11rem;
    height: 3rem;
  }

  .img-menu img {
    height: 25rem;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
  }

  section {
    margin-left: 30px;
  }
  section .menu .descriptif-menu h1 {
    font-size: 3rem;
  }
  section .menu .descriptif-menu .coeur .fa-heart {
    font-size: 3.5rem;
    right: 100px;
  }
  section .plats {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
  }
  section .plats .block-menu {
    width: 30%;
  }
  section .plats .block-menu .menu-categorie {
    font-size: 2rem;
  }
  section .plats .block-menu ul li .descriptif-choix {
    background-color: #fff;
    overflow: hidden;
  }
  section .plats .block-menu ul li .descriptif-choix:hover .choix-detail:hover {
    transition-duration: 1000ms;
    width: calc(100% - 90px);
  }
  section .plats .block-menu ul li .descriptif-choix:hover .fa-check-circle {
    -webkit-animation: rotation 2s 1;
    animation: rotation 2s 1;
  }
  section .plats .block-menu ul li .descriptif-choix .choix-detail {
    height: 4.5rem;
    width: 95%;
  }
  section .plats .block-menu ul li .descriptif-choix .prix-coche {
    top: 0;
    left: 15px;
  }
  section .plats .block-menu ul li .descriptif-choix .prix-coche .prix {
    top: 26px;
  }
  section .plats .block-menu ul li .descriptif-choix .prix-coche .coche {
    top: 12px;
    left: 0px;
    height: 3.5rem;
    width: 3.5rem;
  }
}
/*# sourceMappingURL=style.css.map */