$primary-color: #9356dc;
$second-color: #FF79DA;
$tertiaire-color: #99E2D0;


$marge-base: 1rem 1rem 1rem 1rem;
$loader-border: 5px soldid $primary-color;
$color-blanc: #ffffff;
$shadow-gris: 0 4px 0 #cac8c891;


@-webkit-keyframes transition {
    0% {

        opacity: 0;
    }

    60% {
        opacity: 0.2;
    }

    100% {

        opacity: 1;

    }
}

@keyframes transition {
    0% {

        opacity: 0;
    }

    60% {
        opacity: 0.2;
    }

    100% {

        opacity: 1;

    }
}

.page {
    position: absolute;
    top: 0;

    -webkit-animation: transition 6s forwards;

    animation: transition 6s forwards;
}

/**** loader****/

.section-loader {

    background-color: #fafcfb;
    width: 100%;
    height: 100%;
    line-height: 100%;
    -webkit-animation: delete 10s linear 3s forwards;
    animation: delete 10s linear 3s forwards;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    p {
        position: absolute;
        top: 100px;
        margin-left: 150px;
    }

}

.loader {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 100px;
}

.loader-rond {
    border-radius: 60px;
    border: 8px solid $primary-color;
    margin-left: 3rem;
}

.loader-rond:after {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    bottom: -8px;
    right: -8px;
    border-radius: 70px;
    border: 8px solid transparent;
    border-top-color: $second-color;
    -webkit-animation: rotation 4s linear 0.1s;
    animation: rotation 3s linear 0.1s;
}

@-webkit-keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

@-webkit-keyframes delete {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(99999px);
    }
}

@keyframes delete {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(99999px);
    }
}

/** fin loader **/

body {
    margin: 0;
    padding: 0;
    max-width: 375px;
    background: #fff;
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}
/****/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Shrikhand;
  font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

.logo {
    margin: $marge-base;
    position: relative;

    img {
        display: block;
        margin: auto;

    }

}

.info {
    background-color: #f6f6f6;
    padding-bottom: 30px;

}

.titre-geolocalisation {
    margin-top: 0.5rem;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #e4dede;
    box-shadow: inset 0px 4px 9px -2px #656565;

    span {
        font-weight: bold;
        padding-left: 20px;
    }

    .site-search {
        border: transparent;
        font-size: 1.4rem;
        width: 80%;
        background-color: #e4dede;
    }
}


.titre-reservez {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.titre-decouvrez {
    font-size: 1.3rem;
    color: grey;
    text-align: center;
}

.bouton-commander {
    display: block;
    margin: auto;
    width: 65%;
    max-width: 220px;
    height: 2.5rem;
    border-radius: 3rem;
    background-image: linear-gradient($second-color, $primary-color);
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 10px;
    box-shadow: 2px 3px 6px 2px #bdbbbb91;

    a {
        font-size: 1.1rem;
        color: $color-blanc;
        height: 4.5rem;
    }

    &:hover {
        opacity: 0.93;
        box-shadow: 0 5px 8px rgb(56, 55, 55, 1.8);
    }
}


.fonctionnement {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    background-color: #fff;

    .ordre {
        background-color: $primary-color;
        border-radius: 50%;
        color: $color-blanc;
        top: 14px;
        left: -15px;
        height: 30px;
        width: 30px;
        position: absolute;
        line-height: 30px;
        text-align: center;
    }

    .fas {
        color: rgb(143, 142, 142);
        margin-right: 15px;
        margin-left: 25px;
        font-size: 1.5rem;
        margin-top: 6px;


        &:hover {
            color: $primary-color;
        }
    }
}

.titre-choix {
    padding-bottom: 0.2rem;
    margin-top: 3rem;
    position: relative;
    height: 2.5rem;
    margin-left: 10px;
    padding-top: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #eae9e9;
    border-radius: 1rem;
    box-shadow: 0 6px 5px #cac8c891;
}

aside {
    padding-top: 60px;
    margin-bottom: -25px;
    padding-bottom: 40px;
    background-color: #eae9e9;

    h2 {
        padding-left: 20px;
    }

    article {
        border-radius: 1.5rem;
       
        margin-bottom: 2rem;
        background-color: #fff;
        box-shadow: 0 4px 5px #b9b9b991;
    }

    
    .img-restaurant {
        position: relative;

        img {
            width: 100%;
            height: 11rem; 
            overflow: hidden;
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: 1.5rem 1.5rem 0 0;
        }

        .nouveau {
            display: block;
            background-color: $tertiaire-color;
            position: absolute;
            top: 22px;
            right: 18px;
            padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
            color: #39a98d;
            text-align: center;
            font-size: 1.5rem;
        }
    }

    .descriptif-restaurant {
        display: block;
        position: relative;
        color: black;
        margin-right: 2rem;
        padding-bottom: 0.5rem;
        margin-left: 1rem;


h4 {
    font-size: 1.25rem;
    margin-bottom: 0;
    margin-top: 1rem;
}

       
       p {
           margin-top: 0;
           margin-bottom: 10px;
       }



    }

    .coeur {
        position: absolute;
        top: 0px;
        right: -10px;
        font-size: 2.2rem;

        &:active .fas,
        &:hover .fas  {
            display: block;
           animation: coeur-opacite 1s linear;
            
        }

        &:active .far,
        &:hover .far 
         {
            display: none;
        }


        .far {
            position: absolute;
            top: 0;
            right: 0;

        }


        .fas {
            position: absolute;
            top: 0;
            right: 0;
            color: #9356DC;
            display: none;
            font-size: 2.5rem;

        }

    }
}

@-webkit-keyframes invisible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes invisible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes coeur-opacite {
    0% {
        
        opacity: 0;
    }

    100% {
        
        opacity: 1;
    }
}

/*******fin index*****/
/**debut page menu***/
.logo-menu {
    top: 5px;
    margin: auto;
    width: 100%;

    .fa-arrow-left {
        top: 1rem;
        font-size: 2rem;
        position: relative;
        left: 2rem;
        color: #000000;
    }

    img {
        position: absolute;
        top: 1rem;
        left: 5rem;
    }

}

figure {
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .img-menu {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        vertical-align: middle;
    }

    img {
        width: 100%;
        height: 10rem;
        -o-object-fit: cover;
        object-fit: cover;
    }

}

.bandeau {
    width: 100%;
    height: 3rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #e4e4e4;

    position: absolute;
    top: 140px;
}

/***fin entete page menu ***/

section {

    background-color: #e4e4e4;
    position: relative;
    top: 30px;
    .menu {
        position: relative;
        top: -4px;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: #e4e4e4;

    }

    .descriptif-menu {

        margin-bottom: 75px;
        font-style: italic;
        background-color: #e4e4e4;

       
h1 {
    font-size: 1.7rem;
}

    }

    .coeur {
        position: absolute;
        top: 0px;
        right: 15px;
        font-size: 2.5rem;

        &:active .fas {
            display: block;

           animation: coeur-opacite 1s linear;
            
        }

        

        &:active .far {
            display: none;
        }


        .far {
            position: absolute;
            top: 0;
            right: 0;


        }


        .fas {
            position: absolute;
            top: 0;
            right: 0;
            color: #9356DC;
            display: none;
            font-size: 2.5rem;

        }

    }



    .menu-categorie {
        top: 0;
        position: relative;
        margin-bottom: 34px;
        font-size: 1.8rem;
        border-bottom: 3px solid #99E2D0;
        width: 3rem;
    }


    .block-menu {
        position: relative;
        top: -5px;
    }

    ul {
        list-style-type: none;
        padding-bottom: 0px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-left: 0;
  /**     -webkit-animation: block-menu 2s 0.2s forwards;
        animation: block-menu 2s 0.2s forwards;**/  

        p {
            height: 5rem;
        }


        .choix1 {
            
            -webkit-animation: block-menu 2s 0s forwards;
            animation: block-menu 2s 0s forwards;  
          } 

          .choix2 {
              
            -webkit-animation: block-menu 2s 0.2s forwards;
            animation: block-menu 2s 0.2s forwards;
          }

          .choix3 {
              
            -webkit-animation: block-menu 2s 0.4s forwards;
            animation: block-menu 2s 1s forwards;
          }

          .choix4 {
              
            -webkit-animation: block-menu 2s 0.6s forwards;
            animation: block-menu 2s 1.5s forwards;
          }

        li {
            list-style-type: none;
            display: block;
            width: 100%;
            top: 20px;
            margin-bottom: 15px;
            border-radius: 1rem;
            box-shadow: 0px 3px 2px 0px #dddddd;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
    
            .descriptif-choix {
                display: flex;
                flex-wrap: nowrap;
                font-size: 1.2rem;
                font-weight: 600;
                width: 100%;
                position: relative;
                right: 0;
                left: 0;
                top: 0;
                padding-top: 10px;

                background-color: #fff;


                overflow: hidden;


                

                &:active {
                    .choix-detail:active {
                        transition-duration: 1000ms;
                        width: calc(100% - 125px);

                    }
                }

                &:active {
                    .fa-check-circle {
                        -webkit-animation: rotation 2s 1;
                        animation: rotation 2s 1;
                    }

                }

                .choix-detail {
                    display: inline-block;
                    width: 100%;
                    height: 3.5rem;
                    padding-left: 10px;
                    padding-right: 10px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;


                    .accompagnement-plat {
                        font-size: 1rem;
                        font-weight: 300;
                        text-overflow: ellipsis;
                    }

                }

            }

            /** conteneur prix + bouton coche **/
            .prix-coche {
                position: relative;
                display: inline-block;
                top: -10px;
                right: -23px;


                .prix {
                    font-size: 1.3rem;
                    font-weight: 600;
                    top: 22px;
                    right: 28px;
                    padding-left: 10px;
                    position: relative;
              

                }

                .coche {
                    background-color: $tertiaire-color;
                    position: absolute;
                    width: 3.5rem;
                    height: 66px;
                    top: 0px;
                    right: -40px;
                    border-radius: 0 1rem 1rem 0;
                    overflow: hidden;


                    .fa-check-circle {
                        position: absolute;
                        top: 24px;
                        right: 1rem;
                        color: $tertiaire-color;
                        border-radius: 50%;

                    }

                    .fa-check-circle::before {
                        color: #ffffff;
                    }
                }

                /**fin coche**/
            }

            /**fin prix-cohe**/
        }

        /**descriptif-choix **/
    }

    /**fin li**/
}

.commande-menu {
    background-color: #e4e4e4;
    position: relative;
    height: 6rem;
    top: -20px;
}


/*** animation affichage menu montant ***/

@-webkit-keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes prix-coche {
    0% {
        transform: translatex(10px);
    }

    100% {
        transform: translatex(-65px);
    }
}

@-webkit-keyframes block-menu {
    0% {
        transform: translatey(0);
        opacity: 0;
    }

    100% {
        transform: translatey(-25px);
        opacity: 1;
    }
}

@keyframes block-menu {
    0% {
        transform: translatey(0);
        opacity: 0;
    }

    100% {
        transform: translatey(-25px);
        opacity: 1;
    }
}
/**fooooooooooter**/
footer {
    position: relative;
    background-color: #353535;
    color: $color-blanc;

    left: 0;
img {
    filter: invert(100%);
    padding-top: 20px;
    padding-left: 20px;
}
    h2 {
        padding-top: 1rem;
        margin-left: 1rem;
    }

    ul {
        list-style-type: none;
        position: relative;
        left: -20px;
        margin-bottom: 0;

        li {
            padding-bottom: 1.5rem;
            text-decoration: none;

            a {
                color: #ffffff;
            }

            i {
                padding-right: 1rem;
            }
        }
    }
}


/***********responsive*******************/

@media all and (min-width: 376px) and (max-width: 900px) {

    body {
        min-width: 376px;
        max-width: 900px;
     /**   font-size: 1.5rem; **/

    }

    .info {

        .titre-decouvrez {
            font-size: 1.8rem;
        }

        .bouton-commander {
            height: 3rem;
         
        } 
    }

    .img-restaurant {

        img {
            height: 11rem;
        }
    }

    /**page  restaurant ***/
    section {

        margin-left: 0;
        margin-right: 0;

        ul {

            li {

                .descriptif-choix {
                    background-color: #fff;

                    &:hover {
                        .choix-detail:hover {
                            transition-duration: 1000ms;
                            width: calc(100% - 120px);
                        }

                        .fa-check-circle {
                            -webkit-animation: rotation 2s 1;
                            animation: rotation 2s 1;
                        }
                    }

                    .prix-coche {
                        right: 0px;

                        .prix {
                            right: 15px;
                        }

                        .coche {
                            left: 45px;
                        }
                    }

                }
            }
        }
    }

    aside {
        .img-restaurant {
            
            img {
            height: 15rem;
        }
    }
}
}

/** -fin responsive 375 **/
/** *********responsive 900 **/

@media all and (min-width: 901px) and (max-width: 2180px) {

    body {
        min-width: 901px;
        width: 100%;
        max-width: 2180px;
   }

    .info {

        .titre-reservez {
            font-size: 2.3rem;
        }

        .titre-decouvrez {
            font-size: 1.8rem;
        }

        .bouton-commander {
            
            height: 3rem;
            max-width: 400px;
           

            a {
                font-size: 2rem;
            }
        }
    }

    .choix {
        display: flex;
        justify-content: space-around;


        .titre-choix {
            
            padding-right: 30px;
            font-size: 1rem;
        }
    }

    .conteneur-restaurant {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    article {
        width: 45%;

        a {
            width: 49%;
        }

        .img-restaurant {
            width: 100%;

            img {
                height: 20rem;
            }
        }

    }

    /**page restaurant**/
    /**************/
    .logo-menu {
        top: 5px;
        margin: auto;
        width: 100%;

        .fa-arrow-left {
            top: 40px;
            font-size: 2rem;
            position: relative;
            left: 5rem;
            color: #000000;
        }

        .retour {
            margin-bottom: 2rem;
        }

        img {
            position: absolute;
            top: 2rem;
            left: 11rem;
            height: 3rem;
        }

    }

    .img-menu {

        img {
            height: 25rem;
            overflow: hidden;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }

    .bandeau {
        top: 355px;
    }

    section {
        padding-bottom: 68px;

        .menu {

            .descriptif-menu {

                h1 {
                    font-size: 3rem;
                }

                .coeur {
                    .fa-heart {
                        font-size: 3.5rem;
                        right: 100px;
                        top: -15px;
                    }

                    &:hover .fas
                     {
                        display: block;
            
                       animation: coeur-opacite 1s linear;
                        
                    }
            
                    
            
                    &:hover .far {
                        display: none;
                    }

                    
                }

            }
        }

        .plats {

            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            justify-content: space-around;

            .block-menu {
                width: 33%;

                .menu-categorie {
                    font-size: 2rem;

                }

                ul {

                    li {
                        margin-bottom: 20px;
                        width: 96%;

                        .descriptif-choix {
                            background-color: #fff;
                            overflow: hidden;
                            font-size: 1.1rem;

                            &:hover {

                                .choix-detail:hover {
                                    transition-duration: 1000ms;
                                    width: calc(100% - 120px);
                                }

                                .fa-check-circle {
                                    -webkit-animation: rotation 2s 1;
                                    animation: rotation 2s 1;
                                }

                            }

                            .choix-detail {
                                height: 3rem;
                                width: 95%;
                            }

                            .prix-coche {
                                top: -21px;
                                right: -11px;

                                .prix {
                                    top: 26px;
                                    padding-left: 10px;
                                }

                                .coche {
                                    top: 11px;
                                    left: 33px;
                                    height: 3.6rem;
                                    width: 3.5rem;
                                }
                            }

                        }

                    }

                }

            }

        }
    }
    .bouton-commander {
height: 4.5rem;
width: 50%;
margin-top: 30px;
max-width: 350px;

        a {
            font-size: 2.5rem;
        }
    }
}

@media all and (min-width: 1180px) {
    .choix .titre-choix {
        padding-right: 70px;
        font-size: 1.2rem;
    }
}
