@-webkit-keyframes transition {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes transition {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.page {
  position: absolute;
  top: 0;
  -webkit-animation: transition 6s forwards;
          animation: transition 6s forwards;
}

/**** loader****/
/** loader***/
.section-loader {
  background-color: #fafcfb;
  width: 100%;
  height: 100%;
  line-height: 100%;
  -webkit-animation: delete 10s linear 3s forwards;
  animation: delete 10s linear 3s forwards;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
.section-loader p {
  position: absolute;
  top: 100px;
  margin-left: 150px;
}

.loader {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 100px;
}

.loader-rond {
  border-radius: 60px;
  border: 8px solid #9356dc;
  margin-left: 3rem;
}

.loader-rond:after {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  border-radius: 70px;
  border: 8px solid transparent;
  border-top-color: #FF79DA;
  -webkit-animation: rotation 4s linear 0.1s;
  animation: rotation 3s linear 0.1s;
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes delete {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(99999px);
  }
}
@keyframes delete {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(99999px);
  }
}
/** fin loader **/
/** fin loader **/
body {
  margin: 0;
  padding: 0;
  max-width: 375px;
  width: 100%;
  /**  background: $color-blanc;**/
  background-color: #fefefefe;
  font-family: Roboto;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Shrikhand;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

.logo {
  margin: 1rem 1rem 1rem 1rem;
  position: relative;
}
.logo img {
  display: block;
  margin: auto;
}

.info {
  box-shadow: inset 0px 4px 9px -2px #656565;
}

.titre-geolocalisation {
  margin-top: 0.5rem;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  /**
      .iconemap {
          margin-left: 70px;
      }
  **/
}
.titre-geolocalisation span {
  font-weight: bold;
  padding-left: 20px;
}
.titre-geolocalisation .site-search {
  border: transparent;
  font-size: 1.4rem;
  width: 80%;
}

.titre-reservez {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.titre-decouvrez {
  font-size: 1.3rem;
  color: grey;
  text-align: center;
}

.bouton-commander {
  display: block;
  margin: auto;
  width: 60%;
  height: 3rem;
  border-radius: 3rem;
  background-image: linear-gradient(#9356dc, #FF79DA);
  text-align: center;
  /** vertical-align: middle; **/
  padding-top: 1rem;
  box-shadow: 0 5px 8px grey;
}
.bouton-commander a {
  font-size: 2rem;
  color: #ffffff;
  height: 4.5rem;
}

/** fonctionnement***/
.fonctionnement {
  margin: 1rem 1rem 1rem 1rem;
  padding-top: 3rem;
}
.fonctionnement p {
  font-size: 1.3rem;
  /**  margin-top: 0.5rem;****/
}
.fonctionnement .ordre {
  background-color: #9356dc;
  border-radius: 50%;
  color: #ffffff;
  top: -5px;
  left: -15px;
  height: 30px;
  width: 30px;
  position: absolute;
  line-height: 30px;
  text-align: center;
}
.fonctionnement .fas {
  margin-right: 15px;
  margin-left: 25px;
  font-size: 1.5rem;
}
.fonctionnement .fas:hover {
  color: #9356dc;
}

.titre-choix {
  /** box-shadow: 0px 3px 0px rgb(145, 144, 144); 

  border-bottom: 3px solid transparent; /**voir si utile**/
  /*** border-radius: 0 0 0 2rem;***/
  padding-bottom: 0.2rem;
  margin-top: 3rem;
  position: relative;
  height: 3.5rem;
  margin-left: 10px;
  box-shadow: 0 3px 0 #e0dfdf;
}

/** aside ilage restaurant **/
aside {
  margin: 1rem 1rem 1rem 1rem;
  padding-top: 4rem;
}
aside article {
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}

.article-restaurant p {
  padding-bottom: 2rem;
  box-shadow: 0 4px 0 #cac8c891;
}

.img-restaurant {
  position: relative;
}
.img-restaurant img {
  width: 100%;
  height: 11rem;
  overflow: hidden;
  border-radius: 1.5rem 1.5rem 0 0;
}
.img-restaurant .nouveau {
  display: block;
  background-color: #99E2D0;
  position: absolute;
  top: 22px;
  right: 18px;
  padding: 5px;
  color: #39a98d;
  text-align: center;
  /**  vertical-align: middle; **/
  font-size: 1.5rem;
}

.descriptif-restaurant {
  display: block;
  /****/
  position: relative;
  color: black;
  margin-right: 2rem;
  padding-bottom: 0.5rem;
  margin-left: 1rem;
}
.descriptif-restaurant h4 {
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

.coeur {
  position: absolute;
  top: 10px;
  right: 0px;
  font-size: 2.5rem;
}
.coeur:hover .fas {
  display: block;
}
.coeur:hover .far {
  display: none;
}
.coeur .far {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
}
.coeur .fas {
  position: absolute;
  top: 0;
  right: 0;
  color: #9356dc;
  display: none;
  font-size: 2.5rem;
}

@-webkit-keyframes invisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes invisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/***
    .fas .far {
        font-size: 3rem;
        float: right;
        margin-top: -7rem;
        position: absolute;
        right: 3rem;
        background-clip: text;
        transition: color 1s;



        &:hover {
            .fas {display: none;}
          .far {display: block;}


        }
    }
}**/
/*******fiin index*****/
/**********************/
/***********************/
/**debut page menu***/
.logo-menu {
  top: 5px;
  margin: auto;
  width: 100%;
}
.logo-menu .fa-arrow-left {
  top: 1rem;
  font-size: 2rem;
  position: relative;
  left: 2rem;
  color: #000000;
}
.logo-menu img {
  position: absolute;
  top: 1rem;
  left: 5rem;
}

.descriptif-menu .coeur {
  position: relative;
  top: -65px;
}

figure {
  margin: 0;
  padding-top: 2rem;
}
figure .img-menu {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  vertical-align: middle;
  height: 10rem;
}
figure img {
  width: 100%;
}

.bandeau {
  width: 100%;
  height: 2rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  position: relative;
  top: -35px;
}

/***fin entete page menu ***/
section {
  margin: 1rem 1rem 1rem 1rem;
  background-color: #f6f6f6;
  position: relative;
  /**fin ul**/
}
section .menu {
  position: relative;
  top: -50px;
}
section .fa-heart {
  margin-left: 60px;
}
section .menu-categorie {
  top: 0;
  position: relative;
  top: 17px;
  margin-bottom: 34px;
  font-size: 1.8rem;
  border-bottom: 3px solid #99E2D0;
  width: 3rem;
}
section .descriptif-menu {
  margin-bottom: 75px;
  font-style: italic;
}
section .block-menu {
  position: relative;
  top: -31px;
}
section ul {
  list-style-type: none;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  /**fin li**/
}
section ul p {
  height: 5rem;
}
section ul li {
  list-style-type: none;
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  /**conteneur descriptif du plat **/
  /**descriptif-choix **/
}
section ul li .descriptif-choix {
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  position: relative;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 2px 0px 0px #d0cece;
  /** conteneur prix + bouton coche **/
  /**fin prix-cohe**/
}
section ul li .descriptif-choix:hover .choix-detail {
  width: 65%;
}
section ul li .descriptif-choix:hover .prix-coche {
  transform: fadeinright(-30px);
}
section ul li .descriptif-choix:hover .fa-check-circle {
  -webkit-animation: rotation 1s 1;
  animation: rotation 1s 1;
}
section ul li .descriptif-choix .choix-detail {
  display: block;
  width: 85%;
  height: 3.5rem;
  padding-right: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /**        &:hover {
              width: 65%;

              .prix-coche {
                  transform: fadeinright(-40px);

              }


              .fa-check-circle {
                  animation: rotation 1s 1;

              }

          }

          **/
}
section ul li .descriptif-choix .choix-detail .accompagnement-plat {
  font-size: 1rem;
  font-weight: 100;
}
section ul li .descriptif-choix .prix-coche {
  position: relative;
  display: inline-block;
  top: 0;
  right: 0;
  /**fin coche**/
}
section ul li .descriptif-choix .prix-coche .prix {
  font-size: 1.3rem;
  font-weight: 600;
  top: 15px;
  right: -30px;
  position: absolute;
}
section ul li .descriptif-choix .prix-coche .coche {
  background-color: #99E2D0;
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  top: 0px;
  left: 45px;
  border-radius: 0 1rem 1rem 0;
  overflow: hidden;
}
section ul li .descriptif-choix .prix-coche .coche .fa-check-circle {
  position: absolute;
  top: 20px;
  right: 1rem;
  color: #99E2D0;
  border-radius: 50%;
}
section ul li .descriptif-choix .prix-coche .coche .fa-check-circle::before {
  color: #ffffff;
}

/** fin section**/
/*** animation affichage menu montant ***/
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes block-menu {
  0% {
    transform: translatey(0);
  }
  100% {
    transform: translatey(-55px);
  }
}
@keyframes block-menu {
  0% {
    transform: translatey(0);
  }
  100% {
    transform: translatey(-50px);
  }
}
.titre-choix {
  font-size: 1rem;
  box-shadow: 0 6px 0 #cac8c891;
}

/********fin page menu*************/
/*****************************/
/****************************/
footer {
  background-color: #353535;
  color: #ffffff;
  top: 0;
  left: 0;
}
footer h2 {
  padding-top: 1rem;
  margin-left: 1rem;
}
footer ul {
  list-style-type: none;
  -webkit-padding-start: 15px;
  padding-inline-start: 15px;
}
footer li {
  padding-bottom: 2rem;
  text-decoration: none;
}
footer li a {
  color: #ffffff;
}
footer li i {
  padding-right: 1rem;
}

/***********responsive*******************/
/***********responsive*******************/
/***********responsive*******************/
@media all and (min-width: 376px) and (max-width: 900px) {
  body {
    max-width: 100%;
    font-size: 1.5rem;
  }

  .info .titre-decouvrez {
    font-size: 1.8rem;
  }
  .info .bouton-commander {
    height: 5rem;
    font-size: 3rem;
  }

  .img-restaurant img {
    height: 20rem;
  }
}
/** -fin index 375 **/
/**  **/
/** *********responsive***************** **/
/** *********responsive***************** **/
@media all and (min-width: 901px) and (max-width: 1280px) {
  body {
    max-width: 1280px;
    font-size: 1.6rem;
  }

  .info .titre-reservez {
    font-size: 2.3rem;
  }
  .info .titre-decouvrez {
    font-size: 1.8rem;
  }
  .info .bouton-commander {
    font-size: 3rem;
  }

  .choix {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
  }
  .choix .titre-choix {
    margin-right: 1rem;
  }

  article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  article a {
    width: 49%;
  }
  article .img-restaurant {
    width: 100%;
  }
  article .img-restaurant img {
    height: 20rem;
  }
}
/*# sourceMappingURL=style.css.map */